<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Individual Loan Applicantion</title>
     <!-- Styles -->
     <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
 	<link href='../static/css/styles.css' rel="stylesheet">
    <link href='../static/css/fontawesome-all.css' rel="stylesheet">
    <link href='../static/css/swiper.css' rel="stylesheet">
    <link href='../static/css/magnific-popup.css' rel="stylesheet">
	<link href='../static/css/bootstrap.css' rel="stylesheet">


	<!-- Favicon  -->
    <link rel="icon" href="../static/images/logo.svg">
</head>
<body data-spy="scroll" data-target=".fixed-top">



    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"><img src="../static/images/logo.svg" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

         <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"><img src="../static/images/logo.svg"		alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#Predict">PREDICT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="report">VISUALIZE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#Insights">INSIGHTS</a>
                </li>
            </ul>

        </div>
    </nav> <!-- end of navbar -->
	    </nav> <!-- end of navbar -->

    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Individual Applicant</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="/">Home</a><i class="fa fa-angle-double-right"></i><span>Predict Individual Loan Approval</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Terms Content -->
    <div id="Predict" class="ex-basic-2">
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp Please fill in the details to get your chances of Loan Approval.</h4>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
							<!-- Contact Form -->
								<form id="contactForm" data-toggle="validator" data-focus="false" action="{{ url_for('Individual') }}" method="POST">
                  <div class="form-group">
                    <input name="Name" type="text" class="form-control-input" id="Name" >
                    <label class="label-control" for="Name">Name:</label>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <input name="Age" type="number" class="form-control-input" id="Age" required min="1" max="99">
                    <label class="label-control" for="Age">Age:</label>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <input name="Phone Number" type="number" class="form-control-input" id="Phone Number">
                    <label class="label-control" for="Phone Number">Phone Number:</label>
                    <div class="help-block with-errors"></div>
                  </div>
								<div class="form-group">
									<input name="Median Household Income" type="number" class="form-control-input" id="Median Household Income">
									<label class="label-control" for="Income">Median Household Income:</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="Median Home Value" type="number" class="form-control-input" id="Median Home Value" required >
									<label class="label-control" for="Median Home Value">Median Home Value:</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="Debt" class="form-control-input" id="Debt" type = "number" required>
									<label class="label-control" for="Debt">Debt:</label>
									<div class="help-block with-errors"></div>
								</div>
                <div class="form-group">
                  <input name="Credit Incidents" type="number"  class="form-control-input" id="Credit Incidents" required>
                  <label class="label-control" for="Credit Incidents">Credit Incidents:</label>
                  <div class="help-block with-errors"></div>
                </div>

								<div class="form-group">
									<input name="term" list="terms" class="form-control-input" type="number"  id="Loan Term" required>
									<label class="label-control" for="Loan Term">Loan Term:</label>
									<div class="help-block with-errors"></div>
								</div>
                <div class="form-group">
                  <input name="Product Type" list="products" class="form-control-input" required select>
                  <label class="label-control" for="Product Type">Product Type:</label>
                  <datalist id="products">
                    <select>
    	<option value="Adjustable_rate">Adjustable_rate</option>
    	<option value="Fixed_rate">Fixed_rate</option>
    	<option value="Government_insured">Government_insured</option>
    	<option value="Jumbo">Jumbo</option>
    </select>
                  </datalist>
                  <div class="help-block with-errors"></div>
                </div>
                    </div> <!-- end of contact form -->
                </div> 	<!-- end of text-container -->

                        <div class="col-lg-6">
                    <div class="text-container">
							<!-- Contact Form -->
              <div class="form-group">
                <input name="Gender" list="gender" class="form-control-input" required select>
                <label class="label-control" for="Gender">Gender</label>
                <datalist id="gender">
                <option value="Male">
                <option value="Female">
                <option value="Other">
                <option value="Prefer Not to Say">
                </datalist>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <input name="Birth-Date" type="date" class="form-control-input" id="Birth-Date" required min="1" max="99">
                <label class="label-control" for="Birth Date">Birth Date:</label>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <input name="State" list="state" class="form-control-input" required select>
                <label class="label-control" for="State">State:</label>
                <datalist id="state">
                  <select>
  	<option value="AL">Alabama</option>
  	<option value="AZ">Arizona</option>
  	<option value="AR">Arkansas</option>
  	<option value="CA">California</option>
  	<option value="CO">Colorado</option>
  	<option value="CT">Connecticut</option>
  	<option value="FL">Florida</option>
  	<option value="GA">Georgia</option>
  	<option value="HI">Hawaii</option>
  	<option value="ID">Idaho</option>
  	<option value="IL">Illinois</option>
  	<option value="IN">Indiana</option>
  	<option value="IA">Iowa</option>
  	<option value="KS">Kansas</option>
  	<option value="KY">Kentucky</option>
  	<option value="LA">Louisiana</option>
  	<option value="ME">Maine</option>
  	<option value="MD">Maryland</option>
  	<option value="MA">Massachusetts</option>
  	<option value="MI">Michigan</option>
  	<option value="MN">Minnesota</option>
  	<option value="MS">Mississippi</option>
  	<option value="NE">Nebraska</option>
  	<option value="NV">Nevada</option>
  	<option value="NH">New Hampshire</option>
  	<option value="NJ">New Jersey</option>
  	<option value="NM">New Mexico</option>
  	<option value="NY">New York</option>
  	<option value="NC">North Carolina</option>
  	<option value="OH">Ohio</option>
  	<option value="OK">Oklahoma</option>
  	<option value="OR">Oregon</option>
  	<option value="PA">Pennsylvania</option>
  	<option value="RI">Rhode Island</option>
  	<option value="SC">South Carolina</option>
  	<option value="TN">Tennessee</option>
  	<option value="TX">Texas</option>
  	<option value="UT">Utah</option>
  	<option value="VT">Vermont</option>
  	<option value="VA">Virginia</option>
  	<option value="WA">Washington</option>
  	<option value="WV">West Virginia</option>
  	<option value="WI">Wisconsin</option>
                </datalist>
                <div class="help-block with-errors"></div>
              </div>

                <div class="form-group">
									<input name="Email" type="email"  class="form-control-input" id="Email" required>
									<label class="label-control" for="Email">Email ID:</label>
									<div class="help-block with-errors"></div>
								</div>
                <div class="form-group">
                  <input name="Household Size" type="number"  class="form-control-input" id="Household Size" required>
                  <label class="label-control" for="Household Size"> Household Size:</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input name="Monthly Net Income" class="form-control-input" type="number" min="500" max="40000" id="Monthly Net Income" required>
                  <label class="label-control" for="Monthly Net Income">Monthly Net Income:</label>
                  <div class="help-block with-errors"></div>
                </div>
								<div class="form-group">
									<input name="Credit Score" type="number" min="0"  class="form-control-input" id="Credit Score" required>
									<label class="label-control" for="Credit Score">Credit Score:</label>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group">
									<input name="Loan Amount" type="number" min="0"  class="form-control-input" id="Loan Amount" required>
									<label class="label-control" for="Loan Amount">Loan Amount:</label>
									<div class="help-block with-errors"></div>
								</div>
                <div class="form-group">
                  <input name="Home Value" type="number" min="0"  class="form-control-input" id="Home Value" required>
                  <label class="label-control" for="Home Value">Home Value:</label>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input name="Interest Rate" type="number" min="0"  class="form-control-input" id="Interest Rate" required>
                  <label class="label-control" for="Interest Rate">Interest Rate:</label>
                  <div class="help-block with-errors"></div> </div>


								</div>


              </div> <!-- end of contact form -->
            </div> 	<!-- end of text-container -->
              <button type="submit" class="form-control-submit-button">MAKE PREDICTION</button>
            </form>
            <!-- end of container -->
            <div class="result" align="center">
              <br>
              <br>

            {% if result %}
        <img src='../static/images/out.jpg' alt="">
            <br>
            {{exp|safe}}
            <br> Loan Decision:
            <p style="font-size:20px">{{ result }}</p>
            {% endif %}
            </div>
            </div>
            </div>
          </div> <!-- end-->
    <!-- end of terms content -->
 	  <!-- Details 2 -->--
	<div id="Insights" class="tabs">
            <div class="row">

	  <div class="area-1">


            <div class="tabs-container">

                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i>ROC AUC</a>
                    </li>

                </ul>
                <!-- end of tabs links -->

                <!-- Tabs Content -->
                <div class="tab-content" id="ariaTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <h4>ROC AUC Score</h4>
                        <p>The following graph shows the ROC AUC Curve for different Machine Learning Models. RandomForest gives the best AUC.</p>

                        <!-- Progress Bars -->
                         <div class="col-lg-4 col-xl-4">
                    <div class="image-container">
                        <img class="card-image" src="{{url_for('static', filename='images/img1.jpg')}}"  width="400" height= "400" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                        <!-- end of progress bars -->

                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->


                    <!-- Tab -->

                    <!-- end of tab -->

                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of tabs-container -->
        </div>
		<div class="area-2">


            <div class="tabs-container">

              <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i>Feature Weights</a>
                  </li>

              </ul>
              <!-- end o

                <!-- Tabs Content -->
                <div class="tab-content" id="ariaTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <h4>Random Forest Feature Weights</h4>
                        <p>The following graph gives the feature importance to predict the Loan Defaults.</p>
                        <br/>
                          <br/>
                            <br/>
                        <!-- Progress Bars -->
                         <div class="col-lg-5 col-xl-6">
                    <div class="image-container">
                        <img class="card-image" src="{{url_for('static', filename='images/img2.jpeg')}}" width="450" height= "350" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                        <!-- end of progress bars -->

                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->

                    <!-- Tab -->


                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of tabs-container -->
        </div>
		</div>
    </div> <!-- end of tabs -->
    <!-- end of details 2 -->

    <!-- Footer -->




   <!-- end of copyright -->
    <!-- end of copyright -->
    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../static/js/popper.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../static/js/bootstrap.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../static/js/jquery.easing.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../static/js/jquery.magnific-popup.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../static/js/morphext.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../static/js/isotope.pkgd.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../static/js/validator.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
   <script src="../static/js/scripts.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->

</body>
</html>
